<div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="25px" class="component-container">

  <!-- row1 -->
  <div fxLayout="row" fxFlex="50" fxLayoutAlign="start" fxLayoutGap="25px">
    <!-- Prepared Elections -->
    <mat-card fxFlex="50%">

      <div class="show-when-loading" *ngIf="!isPreparedElectionLoaded">
        Loading...
      </div>
      <div class="show-when-loaded" *ngIf="isPreparedElectionLoaded">
        <div fxLayout="row" fxLayoutAlign="center start">
          <span>Prepared Elections</span>
        </div>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let election of myPreparedElections" (click)="onSelectElection(election)">
              {{election.description}}
            </mat-list-item>

          </mat-list>
        </mat-card-content>
      </div>

    </mat-card>

    <!-- Opened Elections -->
    <mat-card fxFlex="50%">

      <div class="show-when-loading" *ngIf="!isActiveElectionLoaded">
        Loading...
      </div>
      <div class="show-when-loaded" *ngIf="isActiveElectionLoaded">
        <div fxLayout="row" fxLayoutAlign="center start">
          <span>Opened Elections</span>
        </div>
        <mat-card-content>
          <mat-list>

            <mat-list-item *ngFor="let election of myActiveElections" (click)="onSelectElection(election)">
              {{election.description}}
            </mat-list-item>

          </mat-list>
        </mat-card-content>
      </div>

    </mat-card>

    <!-- Completed Elections -->
    <mat-card fxFlex="50%">

        <div class="show-when-loading" *ngIf="!isPublishedElectionLoaded">
          Loading...
        </div>
        <div class="show-when-loaded" *ngIf="isPublishedElectionLoaded">
          <div fxLayout="row" fxLayoutAlign="center start">
            <span>Published Elections</span>
          </div>
          <mat-card-content>
            <mat-list>
  
              <mat-list-item *ngFor="let election of myPublishedElections" (click)="onSelectElection(election)">
                {{election.description}}
              </mat-list-item>
  
            </mat-list>
          </mat-card-content>
        </div>
  
      </mat-card>

  </div>


  <!-- row2 -->
  <div fxLayout="row" fxFlex="50" fxLayoutAlign="start" fxLayoutGap="25px">

    <app-election-card #electionCard (onUpdate)="updateElection()" (onDelete)="deleteElection()" [election]="selectedElection" *ngIf="selectedElection" fxFlex></app-election-card>
  </div>

</div>