<!-- Opened Elections -->
<mat-card>
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="column" fxLayoutAlign="none center" fxLayoutGap="15px">
      <span>Election</span>
      <span>{{election.description}}</span>
    </div>
  </div>

  <mat-card-content>


    <div class="hide-when-deleting">
      <p>
        Election Id : {{election.id}}
        <button mat-icon-button color="warn" *ngIf="!election.is_active && !election.is_published " (click)="delete(electionService,election.id,'election')">
          <mat-icon>delete</mat-icon>
        </button>
      </p>

      <p>Audience : {{audience}}</p>
      <p>Number of Voters : {{numberOfStudents}}</p>
      <p>Accumulated Votes : {{accumulatedVotes}} </p>
      <p>Remaining Votes : {{remainingVotes}} </p>
      <p>School Year : {{schoolYear.name}}</p>
      <p>Created At : {{election.created_at.date | date:'mediumDate' }}</p>
      <p>Partylists Allowed: {{election.is_party_enabled ? 'Yes' : 'No' }} </p>
      <p>College Representatives Allowed: {{election.is_colrep_enabled ? 'Yes' : 'No'}} </p>


      <p *ngIf="!isUpdatingElection">
        <button mat-raised-button (click)="updateElection('start',1)" color="primary" *ngIf="!election.is_active && !election.is_published">Start Election</button>
        <button mat-raised-button (click)="updateElection('publish',1)" color="primary" *ngIf="election.is_started && !election.is_published && !election.is_active ">Publish Election</button>
        <button mat-raised-button (click)="updateElection('end',0)" color="warn" *ngIf="election.is_active">End Election</button>
      </p>
      <p *ngIf="isUpdatingElection">
        Updating Election...
      </p>


      <mat-tab-group dynamicHeight="true">

        <!-- CandidatesSection -->
        <mat-tab label="Candidates">

          <div class="tab-container">

            <div fxLayout="column" *ngIf="isCandidateLoading" fxLayoutAlign="center center" fxLayoutGap="15px">
              <mat-spinner diameter="55" strokeWidth="4"></mat-spinner>
              <span>Loading Data...</span>
            </div>

            <div class="show-when-loaded" *ngIf="!isCandidateLoading">
              <button (click)="addCandidate()" matTooltip="Register Candidate" matTooltipClass="tooltipStyle" matTooltipPosition="after" *ngIf="isDeletable"
                mat-icon-button>
                <mat-icon>add</mat-icon>
              </button>

              <div class="listing" fxLayout="row wrap" fxLayoutAlign="start " fxLayoutGap="15px">


                <mat-card *ngFor="let candidate of candidates" fxFlex="31">
                  <p>
                    Candidate ID: {{candidate.id}}
                    <button mat-icon-button color="warn" *ngIf="isDeletable" (click)="delete(candidateService,candidate.id,'candidate')">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </p>

                  <div (click)="candidateInfo(candidate)">
                    <p>

                      Name: {{candidate.student_profile.last_name}}, {{candidate.student_profile.first_name}} {{candidate.student_profile.middle_name}}
                    </p>
                    <p>
                      Position : {{candidate.position.name}}
                    </p>
                    <p *ngIf="election.is_party_enabled">
                      Partylist: {{candidate.partylist?.name}}
                    </p>
                    <p>
                      Department: {{candidate.student_profile.department.name}}
                    </p>
                    <p *ngIf="candidate.student_profile.college">
                      College : {{candidate.student_profile.college?.name}} {{candidate.student_profile.year_level.name}}
                    </p>
                  </div>

                </mat-card>


              </div>
            </div>

          </div>

        </mat-tab>


        <!-- PositionsSection -->
        <mat-tab label="Positions">


          <div class="tab-container">
            <div fxLayout="column" *ngIf="isPositionLoading" fxLayoutAlign="center center" fxLayoutGap="15px">
              <mat-spinner diameter="55" strokeWidth="4"></mat-spinner>
              <span>Loading Data...</span>
            </div>
            <div class="show-when-loaded" *ngIf="!isPositionLoading">
              <button (click)="addPosition()" matTooltip="Add Positions" matTooltipClass="tooltipStyle" *ngIf="isDeletable" matTooltipPosition="after" mat-icon-button>
                <mat-icon>add</mat-icon>
              </button>

              <div class="listing" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="15px">
                <mat-card *ngFor="let position of positions" fxFlex="30">
                  <p>
                    ID : {{position.id}}
                    <button mat-icon-button color="warn" *ngIf="isDeletable" (click)="delete(positionService,position.id,'position')">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </p>
                  <div (click)="addPosition(true,position)">
                    <p>
                      Name: {{position.name}}
                    </p>
                    <p>
                      Rank : {{position.rank}}
                    </p>
                    <p>
                      Number of Winners: {{position.number_of_winners}}
                    </p>
                    <p>
                      College Representative : {{ position.is_colrep ? 'Yes' : 'No' }}
                    </p>
                  </div>

                </mat-card>
              </div>
            </div>

          </div>
        </mat-tab>


        <!-- PartiesSection -->
        <mat-tab label="Parties" *ngIf="election.is_party_enabled">

          <div class="tab-container">

            <div fxLayout="column" *ngIf="isPartylistLoading" fxLayoutAlign="center center" fxLayoutGap="15px">
              <mat-spinner diameter="55" strokeWidth="4"></mat-spinner>
              <span>Loading Data...</span>
            </div>

            <div class="show-when-loaded" *ngIf="!isPartylistLoading">
              <button (click)="addParty()" matTooltip="Add Party" matTooltipClass="tooltipStyle" *ngIf="isDeletable" matTooltipPosition="after" mat-icon-button>
                <mat-icon>add</mat-icon>
              </button>

              <div class="listing" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="15px">
                <mat-card *ngFor="let partylist of partylists" fxFlex="30">
                  <p>
                    ID : {{partylist.id}}
                    <button mat-icon-button color="warn" *ngIf="isDeletable" (click)="delete(partylistService,partylist.id,'partylist')">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </p>
                  <div (click)="addParty(true,partylist)">
                    <p>
                      Name: {{partylist.name}}
                    </p>
                    <p>
                      Independent Party: {{partylist.is_independent ? 'Yes' : 'No'}}
                    </p>
                  </div>


                </mat-card>
              </div>
            </div>


          </div>
        </mat-tab>

        <!-- ResultsSection -->
        <mat-tab label="Results">
          <div class="tab-container">
            <div fxLayout="column" *ngIf="!isRankingLoaded" fxLayoutAlign="center center" fxLayoutGap="15px">
              <mat-spinner diameter="55" strokeWidth="4"></mat-spinner>
              <span>Loading Data...</span>
            </div>

            <div class="show-when-loaded" *ngIf="isRankingLoaded">

              <button mat-raised-button color="primary" *ngIf="election.is_published" (click)="generateRankingCSV()">Download Data</button>
              <div *ngFor="let rank of rankings; last as isLast">
                <p>{{rank.name}} </p>

                <div fxLayout="row wrap" class="listing" fxLayoutAlign="start" fxLayoutGap="15px">
                  <mat-card fxFlex="30" *ngFor="let candidate of rank.candidates">
                    <p>{{candidate.full_name}}</p>
                    <p>{{candidate.votes}} Vote(s) </p>
                  </mat-card>
                </div>
                <mat-divider *ngIf="!isLast"></mat-divider>
              </div>
            </div>


          </div>
        </mat-tab>

        <mat-tab label="Voters" *ngIf="election.is_published">
          <div class="tab-container">
            <button mat-raised-button color="primary" [disabled]="isDownloadingStudent" (click)="generateStudentStatusCSV()">Download Data</button>
          </div>
        </mat-tab>



      </mat-tab-group>
    </div>



  </mat-card-content>

</mat-card>