<!-- Opened Elections -->
<mat-card>
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="column" fxLayoutAlign="none center" fxLayoutGap="15px">
      <span>Election</span>
      <span>{{election.description}}</span>
    </div>
  </div>

  <mat-card-content>

    <br>
    <div class="show-when-deleting" *ngIf="isDeleting" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
      <mat-spinner diameter="65" strokeWidth="4"></mat-spinner>
      <p>Deleting Election</p>
    </div>

    <div class="hide-when-deleting" *ngIf="!isDeleting">
      <p>
        Election Id : {{election.id}}
        <button mat-icon-button color="warn" (click)="deleteElection()">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </p>

      <p>Audience : {{audience}}</p>
      <p>Number of Voters : {{numberOfStudents}}</p>
      <p>School Year : {{schoolYear.name}}</p>
      <p>Created At : {{election.created_at.date | date:'mediumDate' }}</p>
      <p>Partylists Allowed: {{election.is_party_enabled ? 'Yes' : 'No' }} </p>
      <p>College Representatives Allowed: {{election.is_colrep_enabled ? 'Yes' : 'No'}} </p>


      <p>
        <button mat-raised-button color="primary" *ngIf="!election.is_active">Start Election</button>
        <button mat-raised-button color="warn" *ngIf="election.is_active">End Election</button>
      </p>


      <mat-tab-group dynamicHeight="true">

        <!-- CandidatesSection -->
        <mat-tab label="Candidates">
          <div class="tab-container">
            <button (click)="addCandidate()" matTooltip="Register Candidate" matTooltipClass="tooltipStyle" matTooltipPosition="after"
              mat-icon-button>
              <mat-icon>add</mat-icon>
            </button>

            <div class="listing" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="15px">
              <mat-card *ngFor="let candidate of candidates" fxFlex="30">
                <p>

                  Name: {{candidate.student_profile.last_name}}, {{candidate.student_profile.first_name}}
                </p>
                <p>
                  Position : {{candidate.position.name}}
                </p>
                <p *ngIf="election.is_party_enabled">
                  Partylist: {{candidate.partylist?.name}}
                </p>
                <p>
                  Department: {{candidate.student_profile.department.name}}
                </p>
                <p *ngIf="candidate.student_profile.college">
                  College : {{candidate.student_profile.college?.name}} {{candidate.student_profile.year_level.name}}
                </p>
              </mat-card>
            </div>

          </div>

        </mat-tab>


        <!-- PositionsSection -->
        <mat-tab label="Positions">
          <div class="tab-container">
            <button (click)="addPosition()" matTooltip="Add Positions" matTooltipClass="tooltipStyle" matTooltipPosition="after" mat-icon-button>
              <mat-icon>add</mat-icon>
            </button>

            <div class="listing" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="15px">
              <mat-card *ngFor="let position of positions" fxFlex="30" (click)="addPosition(true,position)">
                <p>

                  Name: {{position.name}}
                </p>
                <p>
                  Number of Winners: {{position.number_of_winners}}
                </p>
                <p>
                  College Representative : {{ position.is_colrep ? 'Yes' : 'No' }}
                </p>
              </mat-card>
            </div>
          </div>
        </mat-tab>


        <!-- PartiesSection -->
        <mat-tab label="Parties" *ngIf="election.is_party_enabled">
          <div class="tab-container">
            <button (click)="addParty()" matTooltip="Add Party" matTooltipClass="tooltipStyle" matTooltipPosition="after" mat-icon-button>
              <mat-icon>add</mat-icon>
            </button>

            <div class="listing" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="15px">
              <mat-card *ngFor="let partylist of partylists" fxFlex="30" (click)="addParty(true,partylist)">
                <p>
                  Name: {{partylist.name}}
                </p>
                <p>
                  Independent Party: {{partylist.is_independent ? 'Yes' : 'No'}}
                </p>

              </mat-card>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Results">
          <div class="tab-container">

          </div>
        </mat-tab>

        <mat-tab label="Voters">
          <div class="tab-container">

          </div>
        </mat-tab>



      </mat-tab-group>
    </div>



  </mat-card-content>

</mat-card>