<mat-dialog-content>

  <p *ngIf="!isDeleting">
    Are you sure you want to delete this {{deleteSubject}}?
  </p>

  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="isDeleting" fxLayoutGap="15px">
    <mat-spinner diameter="55" strokeWidth="4"></mat-spinner>
    <span>Deleting {{deleteSubject | capitalize}}... </span>
  </div>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end" fxLayoutGap="15px" *ngIf="!isDeleting">

  <button mat-raised-button type="submit" color="warn" (click)="confirmDelete()">Yes</button>

  <button mat-button mat-dialog-close>No</button>

</mat-dialog-actions>