<div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="25px" class="component-container">


  <!-- row2 -->
  <div fxLayout="row" fxFlex="50" fxLayoutAlign="start" fxLayoutGap="25px">
    <!-- myElections -->
    <mat-card fxFlex="50%">

      <div fxLayout="row" fxLayoutAlign="center start">
        <span>Positions</span>
      </div>

      <button mat-icon-button color="accent" (click)="addPosition()" >
        <mat-icon>add</mat-icon>
      </button>

      <mat-card-content fxLayout="column" fxLayoutAlign="start" fxLayoutGap="15px">
        <div *ngFor="let election of elections">
          <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="15px">
            <span> {{election.sy}} </span>
            <span>{{election.department}} </span>
            <span>{{election.description}} </span>
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-card-content>

    </mat-card>

    <!-- Opened Elections -->
    <mat-card fxFlex="50%">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur incidunt doloremque animi sapiente ex illo laborum
      sequi enim hic vitae alias repudiandae molestiae eveniet iste illum, soluta id mollitia tempora?
    </mat-card>
  </div>

</div>